<!DOCTYPE html>
<html lang="pl">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main class="container">

    <div class="jumbotron bg-light border border-secondary">
        <h3 class="text-center mb-5">Lista producentów</h3>
        
        <button type="button" class="btn btn-secondary float-right mb-5" onclick="showForm()">Wyświetl formę dodania producenta</button>
        
        <div id="addForm" class="mt-5">
            <form action="/producent" method="POST">

                <label for="nazwa">Nazwa producenta</label>
                <input type="text" class="form-control w-50" id="nazwa" name="nazwa" aria-describedby="nazwaHelp" placeholder="Wprowadź nazwę" required>
            
                <label for="email">Email producenta</label>
                <input type="text" class="form-control w-50" id="email" name="email" aria-describedby="emailHelp" placeholder="Wprowadź email" required>

                <button type="submit" class="btn btn-secondary float-right">Dodaj producenta</button>
            </form>
        </div>


        <div id="result">
            <% if (result) { %>
                    <%= result %>
            <%} else {%>
                <% } %>
        </div>

        <% if(producent) { %>
            <div id="resultTable">
            <table class="table table-bordered table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>id_producent</th>
                        <th>Nazwa producenta</th>
                        <th>Email do kontaktu</th>
                    </tr>
                </thead>
                <% for (var i = 0; i < producent.length; i++) {%>
                    <tr>
                        <td><%= producent[i].id_producent %></td>
                        <td><%= producent[i].nazwa_producent %></td>
                        <td><%= producent[i].email_producent %></td>
                    </tr>
                <% } %>
            </table>
            </div>
        <%} else {%>
        </br>

        <form action="/producent" class="float-left" method="GET">
            <button type="submit" class="btn btn-secondary">Załaduj tabelę</button>
        </form>
        <% } %>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>